<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    :root {
      --green: #3BDA00;
      --orange: #FF6200;
      --grey: #dee2e6;
      --white: #ffffff;
      --small-font-size: 12px;
      --average-font-size: 22px;
      --large-font-size: 32px;
    }
    * {
      margin: 0;
      padding: 0;
      width: 100%;
      box-sizing: border-box;
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .schedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    table {
      border-collapse: collapse;
      border: 1px solid var(--grey);
    }

    h2 {
      margin-bottom: 10px;
      font-size: var(--large-font-size)
    }

    th, td {
      font-size: var(--average-font-size);
      border: 1px solid var(--grey);
      width: 40%;
      text-align: center;
      padding: 5px 10px;
    }

    th {
      height: 2.5em;
    }

    th.numerator {
      background: var(--green);
      color: var(--white);
    }

    th.denominator {
      background: var(--orange);
      color: var(--white);
    }

    td.numerator {
      color: var(--green);
    }

    td.denominator {
      color: var(--orange);
    }

    .table {
      width: 100%;
      max-width: 100%;
    }

    .day {
      width: 5%;
    }

    .time {
      width: 15%;
      text-align: center;
    }

    footer {
      padding: 5px 10px;
      text-align: right;
    }
  </style>
</head>
<body>

  <section class="container">
    <% values.forEach((value) => { %>
      <% if(value.group) { %>
        <h2><%= value.group %></h2>
      <% } %>
      <% if(value.teacher) { %>
        <h2><%= value.teacher %></h2>
      <% } %>
      <div class="schedule">
        <% value.days.forEach((day) => { %>
          <table class="table">
            <tr>
              <th rowspan="9" class="day"><%= day.weekDay.title %></th>
              <th class="time">Время</th>
              <% weekTypes.forEach((type) => { %>
                <% if (type.title === 'ЧС') { %>
                  <th class="numerator"><%= type.title %></th>
                <% } %>
                <% if (type.title === 'ЗН') { %>
                  <th class="denominator"><%= type.title %></th>
                <% } %>
              <% }); %>
            </tr>
            <% day.times.forEach(({ time, lessons }) => { %>
              <tr>
                <td class="time" ><%= time %></td>
                <% if (lessons.length > 1 && lessons[0].title === lessons[1].title) { %>
                  <td colspan="2">
                    <i><%= (lessons[0].lessonType && lessons[0].lessonType.title) ? `(${lessons[0].lessonType.title})` : '' %></i>
                    <span><%= lessons[0].title %></span>
                    <i><%= lessons[0].classroom && lessons[0].classroom.number %></i>
                    <% if(value.group) { %>
                      <i><%= lessons[0].teacher && lessons[0].teachers.join(', ') %></i>
                    <% } %>
                    <% if(value.teacher) { %>
                      <br>
                      <span><%= lessons[0] && lessons[0].group && lessons[0].groups.join(' ') %></span>
                    <% } %>
                  </td>
                <% } else { %>
                  <% weekTypes.forEach((weekType) => { %>
                    <% const lesson = lessons.find(lesson => weekType.id === lesson.weekType.id) %>

                    <% if (weekType.title === 'ЧС') { %>
                      <td class="numerator" >
                        <i><%= (lesson && lesson.lessonType && lesson.lessonType.title) ? `(${lesson.lessonType.title})` : '' %></i>
                        <span><%= lesson ? lesson.title : '' %></span>
                        <i><%= (lesson && lesson.classroom) ? lesson.classroom.number : '' %></i>
                        <% if(value.group) { %>
                          <i><%= (lesson && lesson.teacher) ? lesson.teachers.join(', ') : '' %></i>
                        <% } %>
                        <% if(value.teacher) { %>
                          <br>
                          <span><%= lesson && lesson.group && lesson.groups.join(' ') %></span>
                        <% } %>
                      </td>
                    <% } %>

                    <% if (weekType.title === 'ЗН') { %>
                      <td class="denominator" >
                        <i><%= (lesson && lesson.lessonType && lesson.lessonType.title) ? `(${lesson.lessonType.title})` : '' %></i>
                        <span><%= lesson ? lesson.title : '' %></span>
                        <i><%= (lesson && lesson.classroom) ? lesson.classroom.number : '' %></i>
                        <% if(value.group) { %>
                          <i><%= (lesson && lesson.teacher) ? lesson.teachers.join(', ') : '' %></i>
                        <% } %>
                        <% if(value.teacher) { %>
                          <br>
                          <span><%= lesson && lesson.group && lesson.groups.join(' ') %></span>
                        <% } %>
                      </td>
                    <% } %>
                  <% }); %>
                <% } %>
              </tr>
            <% }); %>
          </table>
        <% }) %>
      <% }) %>
    </div>
  </section>
  <footer>
    <i>&copy; generated @bmstu_chat_bot</i>
  </footer>
</body>
</html>
